.FormConstructor {
  padding-top: calc(var(--headerHeight) * 1px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutralLighter);
}

.TreePanel {
  transform: translate(var(--treePanelWidth_expanded, calc(-100% + 5px)));
  position: fixed;
  width: calc(var(--treePanelWidth, 300) * 1px);
  min-width: 200px;
  max-width: 777px;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  top: calc(var(--headerHeight) * 1px);
  left: 0;
  z-index: 300;
}

.FormConstructor .addCompButton {
  display: var(--treePanelWidth_expanded, none);
  position: fixed;
  top: 59px;
  left: calc(var(--treePanelWidth, 300) * 1px);
  transform: translateX(-150%);
  border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  z-index: 6;
}

.Preview {
  min-height: calc(100% - 60px);
  min-width: 300px;
  margin: 50px;
  background-color: var(--white);
}

.CompPanel {
  position: fixed;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  width: calc(var(--compPanelWidth, 300) * 1px);
  min-width: 200px;
  max-width: 777px;
  background-color: var(--white);
  top: calc(var(--headerHeight) * 1px);
  right: 0;
}
