.FormConstructor {
  position: relative;
  background-color: var(--neutralLighter);
  overflow: hidden;
}

.TreePanel {
  transform: translate(var(--treePanelWidth_expanded, calc(-100% + 5px)));
  position: fixed;
  width: calc(var(--treePanelWidth, 300) * 1px);
  min-width: 200px;
  max-width: 777px;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  top: calc(var(--headerHeight) * 1px);
  left: 0;
  z-index: 4;
}

.Preview {
  position: absolute;
  min-width: 300px;
  background-color: var(--white);
  top: calc(var(--previewTop) * 1px);
  left: calc(var(--previewLeft) * 1px);
}

.CompPanel {
  position: fixed;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  width: calc(var(--compPanelWidth, 300) * 1px);
  min-width: 200px;
  max-width: 777px;
  background-color: var(--white);
  top: calc(var(--headerHeight) * 1px);
  right: 0;
  z-index: 4;
}
