.FormConstructor {
  padding-top: calc(var(--headerHeight) * 1px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutralLighter);
}

.TreePanel {
  position: fixed;
  width: 300px;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  top: calc(var(--headerHeight) * 1px);
  left: 0;
  z-index: 300;
}

.Preview {
  min-height: calc(100% - 60px);
  min-width: 300px;
  margin: 50px;
  background-color: var(--white);
}

.CompPanel {
  position: fixed;
  max-height: calc(100% - var(--headerHeight) * 1px);
  min-height: calc(100% - var(--headerHeight) * 1px);
  width: 300px;
  background-color: var(--white);
  top: calc(var(--headerHeight) * 1px);
  right: 0;
}
