.TreeLeaf:focus {
  outline: none !important;
}

.TreeLeaf .treeLeafContent {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.TreeLeaf .treeLeafBackgroundColor,
.TreeLeaf .treeLeafBorderColor {
  border: solid 2px transparent;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: calc(100% - 1px);
}

.TreeLeaf.picked .treeLeafContent .treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.3;
  z-index: 0;
}

.TreeLeaf:hover .treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.15;
}

.TreeLeaf:focus .treeLeafBorderColor {
  border: solid 2px var(--themePrimary);
}

.TreeLeaf.isError .treeLeafBackgroundColor {
  background-color: var(--red);
  opacity: 0.3;
}

.TreeLeaf.isError.picked .treeLeafContent .treeLeafBackgroundColor {
  background-color: var(--red);
  opacity: 0.5;
}

.TreeLeaf .treeLeafText {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  z-index: 1;
  margin: 2px;
  height: 32px;
  white-space: nowrap;
}

.TreeLeaf .treeLeafText.addOneButtonSpace {
  padding-left: 36px;
}

.TreeLeaf .treeLeafText {
  padding-left: 2px;
  padding-right: 12px;
}

.TreeLeaf .button {
  margin: 2px;
}

/* NEW TREE LEAF */

.NewTreeLeaf:focus {
  outline: none !important;
}

.NewTreeLeaf .treeLeafContent {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.NewTreeLeaf .treeLeafBorder {
  border: solid 2px transparent;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: calc(100% - 1px);
  /* ! any button is on top focus border without it */
  z-index: 1;
  pointer-events: none;
}

div.NewTreeLeaf.isSelected .treeLeafContent {
  background-color: var(--themePrimaryTransparent03);
}

.NewTreeLeaf:hover .treeLeafContent {
  background-color: var(--themePrimaryTransparent01);
}

.NewTreeLeaf:focus .treeLeafBorder {
  border: solid 2px var(--themePrimary);
}

.NewTreeLeaf.isError .treeLeafContent {
  background-color: var(--red);
}

.NewTreeLeaf.isError.isSelected .treeLeafContent {
  background-color: var(--red);
}

.NewTreeLeaf .treeLeafText {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  z-index: 1;
  height: 32px;
  white-space: nowrap;
}

.NewTreeLeaf .treeLeafText.addOneButtonSpace {
  padding-left: 36px;
}
