.TreeLeaf:focus {
  outline: none !important;
}

.TreeLeaf .treeLeafContent {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.TreeLeaf .treeLeafBackgroundColor,
.TreeLeaf .treeLeafBorderColor {
  border: solid 2px transparent;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: calc(100% - 1px);
}

.TreeLeaf.picked .treeLeafContent .treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.3;
  z-index: 0;
}

.TreeLeaf:hover .treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.15;
}

.TreeLeaf:focus .treeLeafBorderColor {
  border: solid 2px var(--themePrimary);
}

.TreeLeaf.isError .treeLeafBackgroundColor {
  background-color: var(--red02);
  opacity: 0.3;
}

.TreeLeaf.isError.picked .treeLeafContent .treeLeafBackgroundColor {
  background-color: var(--red02);
  opacity: 0.5;
}

.TreeLeaf .treeLeafText {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  z-index: 1;
  margin: 2px;
  height: 32px;
  white-space: nowrap;
}

.TreeLeaf .treeLeafText.addOneButtonSpace {
  padding-left: 36px;
}

.TreeLeaf .treeLeafText {
  padding-left: 2px;
  padding-right: 12px;
}

.TreeLeaf .button {
  margin: 2px;
}

.TreeNodeContent {
  min-width: 200px;
}

.TreeNodeContent .EditableText {
  width: 100%;
}

.TreeNodeContent:focus {
  outline: none !important;
}

.TreeNodeContent .treeLeafContent {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.TreeNodeContent .treeLeafBorder {
  border: solid 2px transparent;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: calc(100% - 1px);
}

div.TreeNodeContent.isSelected .treeLeafContent {
  background-color: var(--themePrimary);
  color: var(--white);
  z-index: 0;
}
div.TreeNodeContent.isSelected .treeLeafContent i {
  color: var(--white) !important;
}

.TreeNodeContent:hover .treeLeafContent {
  background-color: var(--themePrimary03);
}

.TreeNodeContent:focus .treeLeafBorder {
  border: solid 2px var(--themePrimary);
}

.TreeNodeContent.isError .treeLeafContent {
  background-color: var(--red03);
}

.TreeNodeContent.isError.isSelected .treeLeafContent {
  background-color: var(--red05);
}

.TreeNodeContent .treeLeafText {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  z-index: 1;
  height: 32px;
  white-space: nowrap;
}

.TreeNodeContent .treeLeafText.addOneButtonSpace {
  padding-left: 36px;
}

.TreeNodeContent .treeLeafText {
  padding-left: 2px;
  padding-right: 12px;
}

.TreeNodeContent.isSelected .treeLeafText {
  color: var(--themePrimary);
}

.TreeNodeContent .button {
  margin: 2px;
}

.TreeNodeContent .query {
  background-color: var(--black);
  color: var(--white);
}
