.FieldBorder {
  position: relative;
  box-sizing: border-box;
  outline: none;
}

.FieldBorder .border {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--black);
  opacity: 1;
  pointer-events: none;
  box-sizing: border-box;
}

.FieldBorder.isFocused .border {
  border: 2px solid var(--themePrimary);
}

.FieldBorder.disabled .border {
  border: 1px solid var(--black02);
}
