.CompPanel {
  background-color: var(--white);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.CompPanel .compPanelScrollable {
  padding: 15px 15px 30vh;
  box-sizing: border-box;
  height: 100%;
  overflow: auto !important;
}

.CompPanel .compPanelScrollable::-webkit-scrollbar {
  display: none;
}

.CompPanel .ResizeTarget {
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  transform: translateY(-50%);
  z-index: 200;
  background-color: var(--themePrimary);
  opacity: 0.7;
}

.CompPanel .wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.CompPanel .CompContextualMenu {
  position: absolute;
  top: 15px;
  right: 20px;
}

h2 {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: calc(100% - 40px) !important;
}
