.CompPanel .CompContextualMenu {
  position: absolute;
  top: 15px;
  right: 20px;
}

.CompPanel .ResizeTarget {
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  transform: translateY(-50%);
  z-index: 200;
  background-color: var(--themePrimary);
  opacity: 0.7;
}

h2 {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: calc(100% - 40px) !important;
}
