.Preview .wrapper {
  --borderThickness: 1.5px;
  position: relative;
}

.Preview {
  border: 2px solid var(--black02);
}

.Preview.isFocused {
  border-color: var(--themePrimary);
}

.selectorArea,
.hoverArea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.selectorArea * {
  border: var(--borderThickness) solid var(--themePrimary);
  box-sizing: border-box;
}

.hoverArea * {
  transform: translate(calc(var(--borderThickness) * -1), calc(var(--borderThickness) * -1));
  border: var(--borderThickness) dashed var(--themePrimary);
  box-sizing: content-box;
}

.FakeHeader {
  position: relative;
  height: calc(var(--headerHeight) * 1px);
  border-bottom: 2px solid var(--black02);
  display: flex;
  justify-content: start;
  align-items: center;
}
.FakeHeader .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.5;
  user-select: none;
}
