.redBackground {
  background-color: #e74c3c;
}

.blueBackground {
  background-color: #3498db;
}

.greenBackground {
  background-color: #07bc0c;
}

.yellowBackground {
  background-color: #f1c40f;
}

.violetBackground {
  background-color: #bb86fc;
}
