.redBackground {
  background-color: var(--red);
}

.blueBackground {
  background-color: var(--blue);
}

.greenBackground {
  background-color: var(--green);
}

.yellowBackground {
  background-color: var(--yellow);
}

.violetBackground {
  background-color: var(--violet);
}
