html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root > div {
  min-height: 100%;
  height: 100%;
}

.headerOnlyLayout {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: 230px 1fr;
}

.mainLayout {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: 230px 1fr;
}

.fakeHeader {
  grid-area: header;
}
footer {
  grid-area: footer;
}
main {
  grid-area: main;
}
.fakeNav {
  grid-area: nav;
}
.Nav {
  position: fixed;
  left: 0;
  top: calc(var(--headerHeight) * 1px);
  height: 100%;
  width: 100%;
}
