html,
body,
#root,
.themeProvider {
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

html {
  background-color: var(--neutralLighter);
}

.RootScrollbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.RootScrollbar > .ps__rail-y,
.RootScrollbar > .ps__rail-x {
  z-index: 301;
}

/*
headerNavMainLayout
 */
.headerNavMainLayout {
  display: grid;
  grid-template-areas:
    'fakeHeader fakeHeader fakeHeader'
    'nav main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: calc(var(--navPanel_size) * 1px) 1fr;
}

/*
 headerMainLayout
 */
.headerMainLayout {
  display: grid;
  grid-template-areas:
    'fakeHeader fakeHeader fakeHeader'
    'main main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: calc(var(--navPanel_size * 1px)) 1fr;
}
.headerMainLayout .NavPanel {
  display: none;
}
/*
 MainLayout
 */

.mainLayout {
  grid-template-areas: 'main';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.mainLayout .NavPanel {
  display: none;
}
.mainLayout header {
  display: none;
}

main {
  grid-area: main;
}

.NavPanel {
  grid-area: nav;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  background-color: var(--white);
  border-bottom: 1px solid var(--black02);
  height: calc(var(--headerHeight) * 1px);
}
