html,
body,
#root,
.themeProvider {
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.RootScrollbar > .ps__rail-y {
  z-index: 301;
}

.headerOnlyLayout {
  display: grid;
  grid-template-areas:
    'fakeHeader fakeHeader fakeHeader'
    'main main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: 230px 1fr;
}

.mainLayout {
  display: grid;
  grid-template-areas:
    'fakeHeader fakeHeader fakeHeader'
    'fakeNav main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: 230px 1fr;
}

main {
  grid-area: main;
}

.Nav {
  position: fixed;
  left: 0;
  top: calc(var(--headerHeight) * 1px);
  height: 100%;
  width: 100%;
}

.Header {
  background-color: var(--neutralLighterAlt);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  height: calc(var(--headerHeight) * 1px);
}
