.invisible {
  visibility: hidden;
}

.turnChildRight90 > * {
  transform: rotate(90deg);
}

.transitionChild01 > * {
  transition: 0.1s;
}

.fakeHeader {
  height: var(--headerHeight);
  width: 100%;
}

.hidden {
  display: none;
}
