.PaletteModal .rootContainer {
  width: 70vw;
  height: 50vh;
  padding: 20px 0 0;
}

.PaletteModal .container {
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.PaletteModal .container > * {
  margin: 10px;
}

.PaletteModal .buttons {
  padding: 0 0 0 15px;
}

.PaletteModal .buttons > * {
  margin: 10px;
}

.PaletteModal .searchBox {
  margin-right: 25px;
}
