.TreePanel {
  background-color: var(--white);
  overflow: auto;
  z-index: 5;
  padding: 0 15px;
}

.TreePanel .marginTopAndBottom {
  margin-top: 20px;
  margin-bottom: 30vh;
}

.addCompButton {
  position: fixed;
  top: 63px;
  left: 265px;
  border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  z-index: 6;
}

.TreePanel .TreeLeaf:focus {
  outline: none !important;
}

.TreePanel .treeLeafContent {
  position: relative;
  cursor: pointer;
}

.TreeLeaf .treeLeafBackgroundColor {
  border: solid 2px transparent;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
}

.TreeLeaf.picked .treeLeafContent div.treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.3;
  z-index: 0;
}

.TreePanel .TreeLeaf:hover .treeLeafBackgroundColor {
  background-color: var(--themePrimary);
  opacity: 0.15;
}

.TreePanel .TreeLeaf:focus .treeLeafBackgroundColor {
  border: solid 2px var(--themePrimary);
}

.TreePanel .treeLeafText {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  z-index: 1;
  padding: 2px 2px 2px 2px;
  height: 32px;
}

.TreeLeaf .treeLeafText {
  padding-left: 36px;
}

.TreeLeaf.isExpandButton .treeLeafText {
  padding-left: 2px;
}

.TreeLeaf .ExpandButton {
  margin-left: 2px;
}
