.TreePanel {
  background-color: var(--white);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.TreePanel .ResizeTarget {
  position: absolute;
  top: 50%;
  right: 0;
  width: 3px;
  transform: translateY(-50%);
  z-index: 200;
  background-color: var(--themePrimary);
  opacity: 0.7;
}

.FormConstructor .addCompButton {
  position: absolute;
  top: 7px;
  right: 17px;
  border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  z-index: 6;
}

.TreePanel .treePanelScrollable {
  padding: 15px 15px 30vh;
  box-sizing: border-box;
}

.TreePanel .treePanelScrollable::-webkit-scrollbar {
  display: none;
}
