.Header {
  --horizontalHeaderPadding: 16;
  padding: calc(var(--horizontalHeaderPadding) * 1px);
}

.Header .logo,
.Header .miniLogo {
  transition: opacity 0.15s;
  position: absolute;
  top: 50%;
  left: var(--horizontalHeaderPadding);
  transform: translateY(-50%);
}

.navPanel_collapsed .Header .logo {
  opacity: 0;
}

.navPanel_expanded .Header .miniLogo {
  opacity: 0;
}

.navPanel_collapsed .Header .miniLogo {
  opacity: 1;
  transition-delay: 0.15s;
}

.navPanel_expanded .Header .logo {
  opacity: 1;
  transition-delay: 0.15s;
}

.Header {
  position: relative;
}
