html, body, #root  {
  height: 100%;
  width: 100%;
}

#root {
  display: grid;
  grid-template-areas:
    'header header'
    'main main';
  grid-template-rows: calc(var(--headerHeight) * 1px) 1fr;
  grid-template-columns: 1fr;
} 
  
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}
main {
  grid-area: main;
  background-color: antiquewhite;
}